
*{
  transition: all 550ms ease-in-out ;
}
.app{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--screen-bg-color);
  
  width: 100vw;
}

.dark-theme{
  --color: white;
  --text-color:wheat;
 --bg-color: rgba(0,0,0,.5);
 --btn-bg-color: #010129;
 --btn-text-color:wheat;
 --screen-bg-color:rgb(39, 5, 5);
 --hover-btn-bg-color:#03034d;
 --input-bg-color:rgb(39, 5, 5);


}


.light-theme{
  --color: black;
  --text-color:black;
 --bg-color: wheat;
 --btn-bg-color:rgb(238, 193, 111);
 --btn-text-color:black;
 --screen-bg-color:rgb(247, 237, 219);
 --hover-btn-bg-color:rgb(240, 205, 140);
 --input-bg-color:white;


}