body {
  margin: 0;
  display:  flex;
  justify-content: center;
  align-items: center;
  background-color: var( --screen-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
